/* Styles for the root terminal container */
.terminal {
    background-color: black;
    color: white;
    font-family: monospace;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    height: 100vh;
    overflow:auto;
    display: flex;
    flex-direction: column;
    font-size: 6px;
}

/* Styles for the command input */
.input-container {
    display: flex;
    align-items: center;
    padding-left: 0px;
    height: 10px;
    margin-top: 5px;
}

input[type="text"] {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-family: monospace;
    caret-color: #00ff00;
    flex-grow: 1;
    font-size: 6px;
}

/* Styles for the output */
.output {
    margin-top: 5px;
    margin-bottom: 2px;
    box-sizing: border-box;
    padding-left: 0px;
    height:15px;
    /* Adjust the margin as needed to control spacing */
}

.info {
    height: 20%;
}

.output-contianer {
    height:30px;
}
.into{
    height: 5px;
}